body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5),rgba(0,0,0,0.5), rgba(0,0,0,0.5),rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("img/apple.jpg");
    height: 85vh;
    width: 94%;
    background-size: cover;
    background-repeat: repeat;
	background-position: center;
}

.container{
    width: 100%;
    margin: 100px 100px;
}
#left-content{
    display: flex;
    justify-content: center;
    width: 50%;
    float: left;    
}
#right-content{
    width: 50%;
    float: left;
}
#input-field{
    padding: 10px 60px 40px 50px;
    background: #CCE8FF;
    margin: 0px 50px 0px 50px;
    line-height: .2;
}
#table{
    width: 50%;
    background: #CCE8FF;
    padding: 20px;
}

#input-field p{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
}
#input-field input{
    margin-top: 10px;
}
#bgroup{
    margin-bottom: 25px;
}
.input-element{
    padding: 8px 10px;
}
#btn1{
    background: #F6A974;
    padding: 5px 12px;
    border: 2px solid #007ACC;
}
#btn2{
    background: #F6A974;
    padding: 5px 12px;
    border: 2px solid #007ACC;
    display: none;
}

#btn1:hover{
    background: #007ACC;
    color: white;
}
#btn2:hover{
    background: #007ACC;
    color: white;
}

th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
table{
    border-collapse: collapse;
}
th:nth-child(5){
    border: none;
}
th:nth-child(6){
    border: none;
}
td:nth-child(5){
    border: none;
}
td:nth-child(6){
    border: none;
}